

.search-box {
    position: absolute;
    top: 70px; 
    left: 55%;
    transform: translateX(100%); 
    z-index: 9999;
    width: 300px; 
    background-color:transparent; 
    padding: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
}
