.home{
    background-color: black;
   
}

.home img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    overflow: hidden;
}

.home-des{
    position: absolute;
    top: 350px;
    left: 5%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
   
}

.home-des h1{
    color: white;
    margin-bottom: 1rem;
  
    
}

.home-des p{
    color: white; 
    text-align: justify; 
    margin: 0; 
    font-size: 1rem; 
    line-height: 1.5; 
    width: 80%; 
}

.buttons-div{
    display: flex;
    margin-top: 1.5rem;
    
}

.buttons-div button{
    position: relative;
    height: 2.5rem;
    width: 8rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border-color: transparent;
    cursor: pointer;
}



.playbtn{
    background-color:white;
    color: black;
    font-weight: bold;
   
}

.morebtn{
    background-color: rgba(128, 128, 128, 0.805);
    color: white;
    
}

.playbtn i,.morebtn i{
    margin-right: 0.5rem;
}

.vol{
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.1%;
    margin-left: 1300px;
    background-color: rgba(128, 128, 128, 0.27);
    border-color: gray;
    border-radius: 50%;
}

.vol i{
    color: rgba(0, 0, 0, 0.71);
}



@media screen and (max-width:850px) {
    .home img{
        width: 100%;
        height: 300px;
    }
    
}